@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 50px;
  fill: currentcolor;
}

.bubble-element .cmgpa {
  color: #fca311;
  border-radius: 4px;
  -moz-border-radius: 4px;
  opacity: 1;
  align-self: center;
  min-width: 40px;
  max-width: 40px;
  order: 1;
  min-height: 40px;
  max-height: 40px;
  width: 40px;
  flex-grow: 1;
  height: 40px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  display: flex;
}

.indicator {
  min-width: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.Completed {
  background-color: #39cd631e;
  color: #39cd62;
}

.Pending {
  background-color: #e9b3001c;
  color: #e9b200;
}
